.banner{
  height: calc(100vh - 10rem);
  margin-top: -1rem;
}

.banner_back{
  background-image: url('../img/Heaven is eternal.png');
  background-size: cover;
  background-position: center;
  position: fixed;
  left: 0;
  bottom: 0;
  height: calc(100% - 3rem);
  width: 100vw;
  z-index: -1;
}

.banner_text{
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.25);
  background: radial-gradient(circle, rgba(0,0,0,.45) 0%, rgba(0,0,0,0) 75%);
}

.banner_text *{
  text-align: center;
}
