.devider{
   display: flex;
}

.editor{
   width: 449px;
   border-right: 1px solid grey;
   background-color: #CCC;
   height: 100vh;
   max-height: 100vh;
   overflow-y: auto;
}

.editor form{
   padding: 2rem;
}
.editor tr{
   height: 2rem;
}

.editor td *{
   width: 100%;
}

.editor .error{
   background-color: red;
   color: white;
   padding: 2rem;
   width: 100%;
}

#htmlcontent{
   width: 100%;
   min-height: 50px;
   padding: 5px;
   border: solid 1px grey;
   background-color: white;
   display: inline-block;
}

.previewPage{
   width: calc(100% - 450px);
   max-height: 100vh;
   overflow-y: auto;
}
