*{
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
}

body{
  background-color: #0C1123;
}

header{
  background-color: #0C1123;
  color: white;
  position: relative;
  z-index: 10;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

footer{
  padding: 1.5rem;
  color: white;
  background-color: #0C1123;
  height: calc(4rem - 3rem);
  text-align: right;
}

main{
  min-height: calc(100vh - 7.7rem - 115px);
  background-color: #EEE;
}

header h1{
  padding-top: 1.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  cursor: pointer;
}

ul{
   margin-left: 1rem;
}

#quote{
  padding-top: .5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 1.5rem;
  color: #BBB;
  border-bottom: solid 1px #555;
}

.text p{
  padding: 1.5rem 3rem;
  background-color: #f0e7bb;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
}

.invisibox{
  padding: 1rem;
}

.bout{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  padding: 0rem 4rem;
}
.bout h1{
  font-weight: 200;
  font-size: 2rem;
  padding-bottom: 0.5rem;
}
.bout p{
  text-align: justify;
}

.boutleft{
   background-image: url("../img/Me.png");
   width: 30%;
   min-height: 300px;
   min-width: 150px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: right ;
}

.boutright{
  max-width: 60%;
  padding: 1rem 0rem;
}

.artcontent{
  padding: 1rem 4rem;
}

.card{
  cursor: pointer;
  width: 300px;
  height: 461.6px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: box-shadow 0.3s;
  background-size: cover;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
}

.card img{
  border-radius: 5px;
  height: 300px; width: 300px;
}

.card p, .card a{
  padding: 1.5rem;
  text-align: center;
  color: #555;
  transition: color 0.3s;
}

.cardTitle{
  padding-bottom: 0 !important;
}

.tags{
  padding: 1.5rem;
  padding-bottom: 0.75rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card:hover p{
  color: #0C1123;
}

.tag{
  color: white;
  padding: 0.25rem 0.4rem;
  margin-bottom: 0.75rem;
  border-radius: 3px;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin: auto;
}

nav a{
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #BBB;
}

main h2{
  padding: 1rem 4rem;
  border-bottom: solid 1px #BBB;
}

main h2 + *{
   padding-top: 1rem;
}

#info{
   padding-bottom: 1rem;
}

.contactText{
  padding: 1rem 4rem;
  padding-top: 2rem;s
}

.contentvid{
   background-color: rgba(0 ,0, 0, 0.075);
}

.contentimg, .contentvid{
   display: flex;
   justify-content: center;
   margin-bottom: 1rem;
   margin-top: 1rem;
   overflow: hidden;
}

.contentimg *, .contentvid *{
   height: 300px;
}

.PageContents{
   padding-bottom: 4rem;
}

.PageContents .cards{
   display: block;
}

.PageContents .cardTitle{
   padding: 0 1rem 0 1rem !important;
   text-align: left !important;
}

.PageContents .card{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
   height: auto;
}

.SecondairyPageContent .card > img{
   width: 75px;
   height: 75px;
}

.PageContents .invisibox{
   padding: 0.5rem 0rem;
}

.button{
   cursor: pointer;
   background-color: #0C1123;
   padding: 1rem;
   display: inline-block;
   border-radius: 5px;
   color: white;
   transition: .3s;
}

.button:hover{
   background-color: green;
}

.artcontent{
   text-align: justify;
}

@media screen and (max-width: 1111px) {
  .cards{
    justify-content: space-around;
  }
}

@media screen and (min-width: 1000px){
   .PageContents{
      display: flex;
      justify-content: space-between;
   }

   .MainPageContent{
      /* border-right: 1px solid gray; */
      width: 60%;
   }

   .MainPageContent > article > *{
      margin-left: calc(15vw - 2rem);
      padding-left: 2rem;
      padding-right: 2rem;
   }

   .SecondairyPageContent{
      width: 40%;
   }

   .SecondairyPageContent > *{
      padding-left: 2rem;
      padding-right: 2rem;
      margin-right: calc(15vw - 2rem);
   }

   .SecondairyPageContent h3{
      padding-top: 1rem;
      padding-bottom: 1rem;
   }
}

@media screen and (max-width: 777px){
   .cards{
      display: block;
   }

   .cardTitle{
      padding: 0 1rem 0 1rem !important;
      text-align: left !important;
   }

   .card{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: auto;
   }

   .card > img{
      width: 100px;
      height: 100px;
   }

   .card > .tags{
      display: none;
   }

   .invisibox{
      padding: 0.5rem 1rem;
   }
}

@media screen and (max-width: 400px) {
  /* .card img{
    height: 250px; width: 250px;
  }

  .card{
    height: calc(250px + 5rem);
    width: 250px;
  } */

  .bout, .cards {
     padding: 0rem 2rem;
   }

   .contactText{
     padding: 1rem 2rem;
     padding-top: 2rem;
   }

   .artcontent{
      padding: 1rem 2rem 0rem 2rem;
   }

   .content{
      padding: 1rem 4rem;
   }

   .invisibox{
      padding: 0.5rem 0rem;
   }

   main h2{
      padding: 1rem 2rem;
   }

  header h1{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #quote{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 519px) {
   .boutright{
      max-width: 100%;
   }

   .boutleft{
      width: 100%;
   }
}

@media screen and (min-width: 1773px){
   .invisibox:nth-child(10), .invisibox:nth-child(11){
      display: none;
   }
}
